body {
  background-image: linear-gradient(80deg, #fdfbfb 0%, #ebedee 100%);
}

div.a {
  text-align: left;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(236, 236, 236);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 10px 8px #e9e7e7;
  flex-direction: column;
}

div#form {
  
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.box input {
  width: 50%;
  border-radius: 5px;
  border: none;
}

.btn {
  border: 2px solid rgb(167, 167, 167);;
  border-radius: 5px;
  background-color: rgb(180, 180, 180);
  margin-top: 2%;
  transition-duration: 0.4s;
  width: 50%;
  margin-left: 25%;
}

.btn:hover {
  background-color: #757575; /* Green */
  color: white;
}

.login-btn {
  border: none;
  border-radius: 5px;
  background-color: rgb(180, 180, 180);
}


li {
    display:inline;
}

li div:hover {
  /* background-color: rgb(255, 255, 255); */
  font-weight: bold; 
}


.button {
    display:inline;
    color: rgb(20, 20, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: bold; */
}

img {
    max-width: 50%;
    height: auto;
    filter: drop-shadow(10px 15px 15px #a0a0a0);
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f1f1f1;
    padding: 10px;
    /* border-radius: 20px; */
  }
  .grid-item {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  
  }
.artist-container {
  font-weight: bold;
}