body {
  background-color: white;
 /* background-image: linear-gradient(80deg, #fdfbfb 0%, #ebedee 100%); */
}

h1 {
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 10%;
}

div.a {
  text-align: left;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(236, 236, 236);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 10px 8px #e9e7e7;
  flex-direction: column;
}

div#form {
  
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.box input {
  width: 50%;
  border-radius: 5px;
  border: none;
}

.btn {
  border: 2px solid rgb(167, 167, 167);;
  border-radius: 5px;
  background-color: rgb(180, 180, 180);
  margin-top: 2%;
  transition-duration: 0.4s;
  width: 50%;
  margin-left: 25%;
}

.btn:hover {
  background-color: #757575;
  color: white;
}

.btn2 {
  border: 2px solid rgb(167, 167, 167);;
  border-radius: 5px;
  background-color: rgb(180, 180, 180);
  margin-top: 2%;
  transition-duration: 0.4s;
  width: 25%;
  /* margin-left: 25%; */
}

.login-btn {
  border: none;
  border-radius: 5px;
  background-color: rgb(180, 180, 180);
}


li {
    display:inline;
}

li div:hover {
  /* background-color: rgb(255, 255, 255); */
  font-weight: bold; 
}


.button {
    display:inline;
    color: rgb(20, 20, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: bold; */
}

img {
    max-width: 50%;
    height: auto;
    filter: drop-shadow(10px 15px 15px #a0a0a0);
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f1f1f1;
    padding: 10px;
    /* border-radius: 20px; */
  }
  .grid-item {
    background-color: #f1f1f1;
    border: 1px solid#f1f1f1;
    padding: 10px;
    font-size: 16px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-style: solid;
  
  }
.artist-container {
  font-weight: bold;
}

div#menu-outer {
  font-weight: bold;
  font-size: large;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
  text-align: center;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
p {
  text-align: center;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttonstyle {
  display: inline-block;
  padding: 0px 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #88a5f7;
  border: none;
  border-radius: 15px;
  box-shadow: 10px #999;
}

.buttonstyle:hover {
  background-color: #789af7;
  color: white;
}

.buttonstyle2 {
  display: inline-block;
  padding: 0px 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f78888;
  border: none;
  border-radius: 15px;
  box-shadow: 10px #999;
}

.buttonstyle2:hover {
  background-color: #f77878;
  color: white;
}